
/* simple text message css for current user and other */
html{

}
italic{
    font-style: italic;
}
body{
    /* good font for texts */
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 20px;
    background-color: #3d3d3d;
}
textarea{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    position: fixed;
}
input{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
#input-area-surroundings{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: px;
    background: #d4d4d4;
    border-radius: 0px 0px 30px 30px;
}
#wierd-apple-bar{
    /* center horizontally */
    left: 50%;
    transform: translate(-50%, 0%);
    top: 0px;
    position: fixed;
    background: black;
    width: 30%;
    height: 20px;
    border-radius: 0px 0px 20px 20px;
}
#battery-container{
    position: fixed;
    top: 8px;
    right: 20px;
    width: 20px;
    height: 10px;
    border: 2px solid black;
    border-radius: 5px;
}
#time-display{
    left: 40px;
    top: 5px;

    width: fit-content;
    height: fit-content;

    color: rgb(0, 0, 0);

    position: fixed;
    margin: 0px;
    z-index: 1000;

    font-size: 15px;
}
#person-image{
    position: fixed;
    max-width: 30px;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%, 0%);
}
#person-display{
    position: fixed;
    top: 40px;
    width: 100%;
    text-align: center;
}
#person-text{
    font-size: 10px;
    bottom: 3px;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0%);
}
#description{
    
    left: 10px;
    top: 100px;

    width: fit-content;
    height: fit-content;

    color: rgb(255, 255, 255);

    position: absolute;
    margin: 0px;

    text-shadow: 3px 3px black;

    transition: 1s;
}
#description:hover{
    text-shadow: 2px 2px black;
    color: rgb(226, 226, 255);
}
/*create an animation*/

#input-area{
    height: 20px;
    word-wrap: break-word;
    position: fixed;
    bottom: 10px;
    border-radius: 15px;
    left: 10%;
    width: 80%;
    outline: none;
    border: rgb(150, 150, 150) 2px solid;
}
#guess{
    position: fixed;
    bottom: 25px;
    border-radius: 15px;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 20%;

    height: 50px;
    outline: none;
    background: black;
    text-align: center;
}
#guess-description{
    position: fixed;
    bottom: 30px;
    border-radius: 15px;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 50%;
    font-size: 15px;
    outline: none;
    color: white;
    z-index: 1000;
}
#guess-input{
    position: fixed;
    bottom: 5px;
    border-radius: 15px;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 50%;

    outline: none;

    text-align: center;
    justify-content: center;
}
#phone-screen{
    /* phone screen size */
    width: 330px;
    height: 80%;
    /* phone screen background */
    background: #ffffff;
    /* phone screen border */
    border: 5px solid #000000;
    /* phone screen border radius */
    border-radius: 40px;
    /* phone screen position */
    position: fixed;
    margin: 0px;

    /* center phone screen */
    left: calc(50% - 170px);
    top: 2%;
    transform: translate(-50%, 0%);

    overflow-x: auto;
    overflow-y: auto;

    box-shadow: 10px 10px rgb(54, 54, 54);

    animation: infinite 5s moveUpandDown ease;
}
@keyframes moveUpandDown{
    0%{
        transform: translate(0px, 0px);
    }
    50%{
        transform: translate(0px, 10px);
    }
    100%{
        transform: translate(0px, 0px);
    }
}
.ai-message,
.user-message {
    border-radius: 3px 3px 3px 3px;
    color: #ffffff;
    display: inline-block;
    font-size: 14px;
    line-height: 15px;
    margin-bottom: 0;
    max-width: 200px;
    height: fit-content;
    overflow-x: auto;
    overflow-wrap: break-word;
    padding: 5px 10px;
    position: absolute;
    vertical-align: top;
    margin: 10px;
}
.ai-message{
    background: #43CC47;
}
.user-message{
    background: #1982FC;
    right: 0px;
}
#top-bar{
    /* top bar size */
    width: 330px;
    height: 12%;
    /* top bar background */
    background: #E5E5E5;
    /* top bar border */
    /* top bar border radius */
    border-radius: 40px 40px 0px 0px;
    /* top bar position */
    position: fixed ;
    margin: 0px;

    /* center top bar */
    left: 50%;
    top: 0%;
    transform: translate(-50%, 0%);   

    text-align: center;
    justify-content: center;
}