
/* simple text message css for current user and other */
html{

}
italic{
    font-style: italic;
}
body{
    /* good font for texts */
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 20px;
    background-color: #3d3d3d;
}
textarea{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    position: fixed;
}
input{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
#leaderboard{
    position: fixed;
    top: 55%;
    background-color: rgba(100,100,100,0.5);
    padding: 20px;
    text-align: center;
    list-style-position: inside;
    font-size: 25px;
    left: 50px;
    border-radius: 10px;
}
#leaderboard li{
    transition: 1s;
    text-shadow: 2px 2px black;
}
#leaderboard li:hover{
    transition: 0.3s;
    transform: scale(1.5);
    color: white;
}
#time-display{
    left: 50%;
    position: fixed;
    transform: translate(-50%, 0%);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    background: white;
    width: 100px;
    text-align: center;
    top: 10px;
    font-size: 35px;
    box-shadow: 3px 5px black;
}
#description{
    
    left: 10px;
    top: 100px;

    width: fit-content;
    height: fit-content;

    color: rgb(255, 255, 255);

    position: absolute;
    margin: 0px;

    text-shadow: 3px 3px black;

    transition: 1s;
}
/*create an animation*/

#input-area{
    left:50%;
    transform: translate(-50%, 0%);
    bottom: 10px;
    border: none;
    border-radius: 10px;
    border: 2px solid black;
}


.ai-message,
.user-message {
    border-radius: 3px 3px 3px 3px;
    color: #ffffff;
    display: inline-block;
    font-size: 14px;
    line-height: 15px;
    margin-bottom: 0;
    max-width: 200px;
    height: fit-content;
    overflow-x: auto;
    overflow-wrap: break-word;
    padding: 5px 10px;
    position: absolute;
    vertical-align: top;
    margin: 10px;
    margin-top: 20px;

    transition: 0.5s;
}
.ai-message:hover,
.user-message:hover{
    transition: 0.3s;
    transform: scale(1.2);
    color: white;
}
.phrase{
    margin-top: 25px;
    transition: 0.5s;
}
.phrase:hover{
    transition: 0.3s;
    transform: scale(1.2);
    color: white;
}
#phrase-list{
    position: fixed;
    right: 30px;
    width: 20%;
    height: 100%;
    text-shadow: 2px 2px black;
    font-size: 30px;
}
.ai-message{
    background: #43CC47;
    left: 10px;
    box-shadow: 3px 3px rgb(0, 98, 34);
}
.user-message{
    background: #1982FC;
    right: 10px;
    box-shadow: 3px 3px rgb(0, 67, 133);
}
#messages-container{
    width: 30%;
    height: 100%;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0%);
    background: rgba(100,100,100,0.5);
    bottom: 40px;
    border-radius: 10px;
    border: 5px solid black;
    overflow: auto;
}
